[submodule "qlib-source"]
	path = qlib-source
	url = https://github.com/jerryyangboyu/qlib.git
[submodule "investment-data-script"]
	path = investment-data-script
	url = https://github.com/chenditc/investment_data
